<article class="post">
    <div class="title">
        <h4>{{title}}</44>
        <p class="comment-txt">{{post_content}}</p>
    </div>
    <div class="meta">
        by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>

